{% extends 'base.html' %}
{% block content %}
<br>
<h2>Accounts</h2>
<br>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div id="flash-messages">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createAccountModal">Create Account</button>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Balance</th>
      <th>Currency</th>
      <th>Creation Date</th>
    </tr>
  </thead>
  <tbody>
    {% for account in accounts %}
    <tr>
      <td>{{ account['name'] }}</td>
      <td>{{ account['type'] }}</td>
      <td>{{ account['balance'] }}</td>
      <td>{{ account['currency'] }}</td>
      <td>{{ account['creation_date'] | datetime }}</td>
      <td>
        <form action="{{ url_for('delete_account', account_id=account['account_id']) }}" method="post">
          <button type="submit" class="btn btn-danger">X</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="modal fade" id="createAccountModal" tabindex="-1" role="dialog" aria-labelledby="createAccountModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createAccountModalLabel">New Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/create_account" method="post">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="tetx" class="form-control" id="name" name="name" step="0.01" required>
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" id="type" name="type" required>
              <option value="">Choose</option>
              <option value="Checking">Checking</option>
              <option value="Savings">Savings</option>
              <option value="Credit">Credit</option>
            </select>
          </div>
          <div class="form-group">
            <label for="balance">Balance</label>
            <input type="number" class="form-control" id="balance" name="balance" step="0.01" required>
          </div>
          <div class="form-group">
            <label for="currency">Currency</label>
            <select class="form-control" id="currency" name="currency" required>
              <option value="">Choose</option>
              <option value="USD">USD</option>
              <option value="EUR">EUR</option>
              <option value="JPY">JPY</option>
            </select>
          </div>
          <div class="form-group">
            <label for="creation_date">Creation date</label>
            <input type="date" class="form-control" id="creation_date" name="creation_date" required>
          </div>
          <div class="form-group">
            <label for="last_update_date">Last update date</label>
            <input type="date" class="form-control" id="last_update_date" name="last_update_date" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
